apiVersion: apps/v1
kind: Deployment
metadata:
  name: rms-bff
  namespace: rms
  labels:
    app: rms-bff
spec:
  replicas: 3
  selector:
    matchLabels:
      app: rms-bff
  template:
    metadata:
      labels:
        app: rms-bff
    spec:
      serviceAccountName: aws-iam-serviceaccount # ServiceAccount com Role que permite acesso ao AWS Secrets Manager
      volumes:
        - name: secrets-store-inline
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: aws-secrets
      containers:
        - name: rms-bff
          image: 900534935988.dkr.ecr.us-east-1.amazonaws.com/rms:latest
          envFrom:
            - configMapRef:
                name: rms-bff-config
          volumeMounts:
            - name: secrets-store-inline
              mountPath: "/mnt/secrets-store"
              readOnly: true
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: db-bff-secret
                  key: host
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: db-bff-secret
                  key: port
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: db-bff-secret
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-bff-secret
                  key: password
            - name: ACCESS_TOKEN_MERCADOPAGO
              valueFrom:
                secretKeyRef:
                  name: mercadopago-secret
                  key: ACCESS_TOKEN_MERCADOPAGO
            - name: USER_ID_MERCADOPAGO
              valueFrom:
                secretKeyRef:
                  name: mercadopago-secret
                  key: USER_ID_MERCADOPAGO
            - name: EXTERNAL_POS_ID_MERCADOPAGO
              valueFrom:
                secretKeyRef:
                  name: mercadopago-secret
                  key: EXTERNAL_POS_ID_MERCADOPAGO
            - name: WEBHOOK_URL_MERCADOPAGO
              valueFrom:
                secretKeyRef:
                  name: mercadopago-secret
                  key: WEBHOOK_URL_MERCADOPAGO
            - name: COGNITO_USER_POOL_ID
              valueFrom:
                secretKeyRef:
                  name: cognito-secret
                  key: COGNITO_USER_POOL_ID
            - name: COGNITO_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: cognito-secret
                  key: COGNITO_CLIENT_ID
          ports:
            - containerPort: 3000
          resources:
            # You must specify requests for CPU to autoscale
            # based on CPU utilization
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "0.5"
              memory: "512Mi"
